
<div class="row">
  <div class="col">
    <h4>Upcoming Shifts</h4>
    <table class="table">
      <thead>
        <tr>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Type</th>
        <th scope="col">Cancel</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tue 13/2</td>
          <td>11AM - 2PM</td>
          <td>Dismantling-Small</td>
          <td><button type="button" class="btn btn-outline-dark">X</button></td>
        </tr>
        <tr>
          <td>Tue 14/2</td>
          <td>11AM - 2PM</td>
          <td>Testing-RAM</td>
          <td><button type="button" class="btn btn-outline-dark">X</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <h4>Previous Shifts</h4>
    <table class="table">
      <thead>
        <tr>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Wed 17/1</td>
          <td>11AM - 2PM</td>
          <td>Testing-HDD</td>
        </tr>
        <tr>
          <td>Thu 18/2</td>
          <td>3PM - 6PM</td>
          <td>Dismantling-Small</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
