<div class="col-12 col-md-offset-3">
  <h1>Add users</h1>
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/admin/users" >Users admin</a></li>
        <li class="breadcrumb-item active">Add users</li>
      </ol>
    </nav>

    <form>
      <div class="form-group">
        <label for="firstNameInput">First Name</label>
        <input type="text" class="form-control" id="firstNameInput">
      </div>
      <div class="form-group">
        <label for="lastNameInput">Last Name</label>
        <input type="text" class="form-control" id="lastNameInput" >
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1">
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <label for="telInput">Phone Number</label>
        <input id="telNo"  class="form-control" id="telInput" type="tel">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="adminCheckInput">
        <label class="form-check-label" for="adminCheckInput">Administrator</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>