<header>    
  <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <div class="navbar-brand">
      <a routerLink=""><img src="assets/logo.svg" class="img-fluid"  alt="logo" width="30" > <strong>VOLUNTEERS</strong></a>
    </div>
    <button class="navbar-toggler" type="button" (click)="showMenu=!showMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" *ngIf="auth.isAuthenticated()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': showMenu}" id="navbarSupportedContent" *ngIf="auth.isAuthenticated()">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item">
          <a class="nav-link" routerLink="/shifts" routerLinkActive="active">Shifts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/myshifts" routerLinkActive="active">My Shifts</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
            <button class="btn btn-link nav-link dropdown-toggle" (click)="showAdminMenu=!showAdminMenu" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              Admin
            </button>
            <div class="dropdown-menu" [class.show]="showAdminMenu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/admin/users">Users</a>
              <a class="dropdown-item" routerLink="/admin/shifts">Shifts</a>
            </div>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item dropdown ">
          <button class="btn btn-link nav-link dropdown-toggle" (click)="showUserMenu=!showUserMenu" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" >
            {{auth.getCurrentUserName()}}
          </button>
          <div class="dropdown-menu dropdown-menu-right" [class.show]="showUserMenu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/profile">Your Profile</a>
            <a class="dropdown-item" routerLink="/settings">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="btn dropdown-item" (click)="auth.logout().subscribe()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
