<div class="col-12 col-md-offset-3">

  <h1>Shifts Admin</h1>
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active"><a>Shifts admin</a></li>
      </ol>
    </nav>
  <div class="input-group mb-3 col-6">
    <input type="text" class="form-control" placeholder="2018-01-01" >
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Filter by date</button>
      <button class="btn btn-outline-secondary" type="button">Print day sheet</button>
    </div>
  </div>
  
  
  <div class="input-group  col-6">
    <select class="custom-select" id="inputGroupSelect04">
      <option selected>All</option>
      <option value="1">Dismantle</option>
      <option value="2">Test</option>
      <option value="3">Build</option>
      <option value="3">Clean</option>
    </select>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Filter by Type</button>
    </div>
  </div>
  
  <button class="btn btn-outline-secondary float-right mb-3" type="button" routerLink="/admin/shifts/add">Add shifts</button>
  
  <table class="table">
    <thead>
      <tr>
      <th scope="col">Date</th>
      <th scope="col">Type</th>
      <th scope="col">Sub-type</th>
      <th scope="col">Timings</th>
      <th scope="col">Assigned to</th>
      <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shift of shifts">
        <td>{{ shift.date | date: 'EEE, MMM dd': 'UTC' }}</td>
        <td>{{ shift.type | titlecase }}</td>
        <td>{{ shift.subType }}</td>
        <td>{{ shift.startTime }} - {{shift.endTime}}</td>
        <td>{{ shift.assignedTo }}</td>
        <td><button type="button" class="btn btn-outline-dark"><span class="oi oi-ellipses"></span></button></td>
      </tr>
    </tbody>
  </table>
  </div>