<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/shifts/dismantle" routerLinkActive="active">Dismantle</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/shifts/test" routerLinkActive="active">Test</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/shifts/build" routerLinkActive="active">Build</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/shifts/clean" routerLinkActive="active">Clean</a>
  </li>
</ul>
<br>
<router-outlet name="calendar"></router-outlet>

<div class="row">
  <div class="col">
    <h4>Morning Shift <span class="badge badge-secondary">11AM - 2PM</span></h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Wed 31/1</th>
          <th scope="col">Thu 1/2</th>
          <th scope="col">Fri 2/2</th>
          <th scope="col">Sat 3/2</th>
          <th scope="col">Mon 6/2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><button type="button" class="btn btn-outline-dark">...</button></td>
          <td><button type="button" class="btn btn-outline-dark">...</button></td>
          <td><button type="button" class="btn btn-outline-dark">...</button></td>
          <td><button type="button" class="btn btn-outline-dark">...</button></td>
          <td><button type="button" class="btn btn-outline-dark">...</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <h4>Afternoon Shift <span class="badge badge-secondary">3PM - 6PM</span></h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Wed 31/1</th>
          <th scope="col">Thu 1/2</th>
          <th scope="col">Fri 2/2</th>
          <th scope="col">Sat 3/2</th>
          <th scope="col">Mon 6/2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><button type="button" class="btn btn-outline-dark">...</button></td>
          <td><button type="button" class="btn btn-outline-dark">...</button></td>
          <td><button type="button" class="btn btn-outline-dark">...</button></td>
          <td><button type="button" class="btn btn-outline-dark">...</button></td>
          <td><button type="button" class="btn btn-outline-dark">...</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>