<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/shifts/dismantle" routerLinkActive="active">Dismantle</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/shifts/test" routerLinkActive="active">Test</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/shifts/build" routerLinkActive="active">Build</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/shifts/clean" routerLinkActive="active">Clean</a>
  </li>
</ul>
<br>
<div class="row">
  <div class="col">
    <div class="btn-group float-right" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-dark" (click)="shiftDates('previous')"><span class="oi oi-chevron-left"></span></button>
      <button type="button"  class="btn btn-secondary">Feb 03 - Feb 08</button>
      <button type="button" class="btn btn-outline-dark" (click)="shiftDates('next')"><span class="oi oi-chevron-right"></span></button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h4>Morning Shift <span class="badge badge-secondary">11AM - 2PM</span></h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" *ngFor="let date of dates; let i = index">{{date|date:'EEE dd'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td *ngFor="let date of dates; let i = index">
            <button type="button" class="btn btn-outline-dark" [attr.data-date]="date" data-start-time="11AM" data-end-time="2PM" (click)="updateModalData($event)">...</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <h4>Afternoon Shift <span class="badge badge-secondary">3PM - 6PM</span></h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" *ngFor="let date of dates; let i = index">{{date|date:'EEE dd'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td *ngFor="let date of dates; let i = index">
            <button type="button" class="btn btn-outline-dark" [attr.data-date]="date" data-start-time="3PM" data-end-time="6PM" (click)="updateModalData($event)">...</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-signup-modal [setModal]="modalData"></app-signup-modal>