<div class="modal fade show" [ngClass]="{'show': showModal}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalData.date | date:'EEEE, dd MMM'}} <span class="badge badge-secondary"> {{modalData.startTime}} to {{modalData.endTime}}</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal=false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>{{modalData.shiftType | titlecase }}</h5>
        <form>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" >
            <label class="btn btn-success" [class.active]="shiftSubType == shift.subType" *ngFor="let shift of modalData.shifts; let i = index">
              <input type="radio" name="shiftSubType" id="{{'shiftSubType'+i}}" autocomplete="off"  [(ngModel)]="shiftSubType" [value]="shift.subType"> {{shift.subType }}<br><small>Available:{{shift.availableSlots}}</small>
            </label>
          </div><br>
          <label class="custom-control-label" for="customCheck1">Training needed?</label><br>
          <div class="btn-group btn-group-toggle" data-toggle="buttons2" id="trainingRadio">
            <label class="btn btn-primary" [class.active]="trainingNeeded == 'yes'">
              <input type="radio" name="trainingNeeded" id="trainingYesRadio" autocomplete="off"  [(ngModel)]="trainingNeeded" value="yes"> Yes
            </label>
            <label class="btn btn-primary" [class.active]="trainingNeeded == 'no'">
              <input type="radio" name="trainingNeeded" id="trainingNoRadio" autocomplete="off" [(ngModel)]="trainingNeeded" value="no"> No
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="showModal=false">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>