<div class="modal fade show" [ngClass]="{'show': showModal}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalData.date | date:'EEE d MMM'}} <span class="badge badge-secondary"> {{modalData.startTime}} to {{modalData.endTime}}</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal=false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>{{modalData.shiftType}}</h5>
        <form>
          <div class="form-check" *ngFor="let shift of modalData.shifts; let i = index">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              {{shift.subType}} ({{shift.availableSlots}} slots available)
            </label>
          </div>
          <label class="custom-control-label" for="customCheck1">Training needed?</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary" [class.active]="trainingNeeded">
              <input type="radio" name="options" id="option1" autocomplete="off"  [(ngModel)]="trainingNeeded" [value]="true"> Yes
            </label>
            <label class="btn btn-primary" [class.active]="!trainingNeeded">
              <input type="radio" name="options" id="option2" autocomplete="off" [(ngModel)]="trainingNeeded" [value]="false"> No
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="showModal=false">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>